
#logo {
   
}
#key_visual {
   background: url(images/dynamic/key_train.jpg) no-repeat;
}
#slogan {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
#main_nav_list a.main_nav_active_item {
  background: url(images/dynamic/buttonset3/main_nav_active_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  background-position: top right;
}
#main_nav_list a.main_nav_item {
  background: url(images/dynamic/buttonset3/main_nav_link_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  background-position: top right;
}
#main_nav_list a.main_nav_item:hover {
  background: url(images/dynamic/buttonset3/main_nav_hover_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.sub_nav_list a.sub_nav_active_item {
  background: url(images/dynamic/buttonset3/sub_nav_active_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.sub_nav_list a.sub_nav_item {
  background: url(images/dynamic/buttonset3/sub_nav_link_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.sub_nav_list a.sub_nav_item:hover {
  background: url(images/dynamic/buttonset3/sub_nav_hover_button.gif) no-repeat;
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
#content_container h1 {
  font-family: Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
#content_container h2 {
  font-family: Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
#content_container h3 {
  font-family: Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
#content_container, #content_container p {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
#content_container a:visited {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #ff0000;
}
#content_container a:link {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #ff0000;
}
#content_container a:hover {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #ff0000;
}
#content_container a:active {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #ff0000;
}
#footer_text {
  font-family: 'Trebuchet MS',Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

